ol {
  border-bottom: 1px solid white;
}

.taskListInput {
  width: 20px;
  height: 20px;
}

.taskListDelete {
  width: fit-content;
  height: fit-content;
  font-size: 0.75em;
  float: right;
}

.taskListInput {
  float: right;
}

li {
  max-width: 99%;
}
